body {
  margin: 0px;
  overflow-x: hidden;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app {
  .page-wrapper {
    width: 100%;
    .navbar {
      height: 6vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid blue;

      .page-title {
        margin-left: 5px;
      }

      .nav-links-wrapper {
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      .login {
        margin-right: 5px;
      }
    }
  }
}
